
.darkmode{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        position: fixed;
        justify-content: center;
        text-align: center;
        height: 100vh;
        width: 100% ;
        flex-direction: column;
}
.on{
    background: #000;
    color: #c1770f;
}
.darkmode h1{
        font-family: "Bungee Outline", sans-serif;
        font-weight: 800;
        font-size: 60px;
        line-height: 70px;
}
.darkmode button{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    background: transparent;
    outline: 0;
    border: 1px solid black;
}
.darkmode.on button{
    border: 1px solid #c1770f;
    color: #c1770f;
}